# App
APP_ENV=dev
API_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:5173,http://localhost:8080

# DB
DATABASE_URL=postgresql+psycopg2://scribe:scribe@db:5432/scribe

# JWT
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Google OAuth (optionnel)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback

# LLM service (fait par ton collaborateur)
LLM_BASE_URL=http://llm-service:9000
LLM_API_KEY=change-me
LLM_WEBHOOK_SECRET=change-me